<html>

<body>
  <p style="font-size: 30px; color: blue">
hello my name is mei and i have a dad that is letting me type this thingy mabob right now and i have a sister and she is at ballet right now
i also have a mom duh and she is ..... idk where she is so whatever!
(sry mom
i really like the color blue and i like bunny rabbits ok i just spelled that wron but yea what the hick is the thin next to the txt!!!!?
  </p>
  <img src="http://data.whicdn.com/images/52873778/large.jpg"></img>
</body>
</html>
